@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F9FE;
    padding-bottom: 15rem;
}

$popins: 'Popins', sans-serif;
$chivo: 'Chivo', sans-serif;

@mixin title-half ($color) {
    color: $color;
    font-family: $popins;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    &:after {
        content: "";
        width: 30px;
        height: 1px;
        background: $color;
        position: absolute;
        margin-left: 10px;
        left: auto;
        top: 7px;
    }
    &::before {
        content: "";
        width: 10px;
        height: 1px;
        background: $color;
        position: absolute;
        left: 105px;
        top: 7px;
    }
}

@mixin title-full ($color){
    width: 50px;
    margin: auto;
    position: relative;
    p {
        font-family: $popins;
        font-size: 14px;
        color: $color;
        text-transform: capitalize;
    }
    &::before {
        content: "";
        height: 1px;
        width: 30px;
        background: $color;
        position: absolute;
        top: 8px;
        left: -38px;
    }
    &::after {
        content: "";
        height: 1px;
        width: 30px;
        background: $color;
        position: absolute;
        top: 8px;
        right: -32px;
    }
    span:nth-of-type(1){
        width: 6px;
        height: 1px;
        background: $color;
        position: absolute;
        top: 8px;
        left: -50px;
    }
    span:nth-of-type(2) {
        width: 6px;
        height: 1px;
        background: $color;
        position: absolute;
        top: 8px;
        right: -42px;
    }
}

@mixin button-primary ($width:100px) {
    width: $width;
    height: 50px;
    color: #fff;
    font-family: $popins;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FF8618;
    border: none;
    border-radius: 5px;
    transition: all ease-out 0.1s;
    &:hover {
        cursor: pointer;
        background-color: #e97c16;
    }
    &:active {
        background-color: #aa5d15;
    }
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    overflow: auto;
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right,#2A2273, #33333300), url(./assets/james-mckinven-UjD4BnrA4kw-unsplash.png) no-repeat top center;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        height: 50px;

        .header-logo {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: #fff;
                display: inline-block;
                font-family: $popins;
                font-weight: medium;
                font-size: 14px;
                text-transform: uppercase;
                margin-right: 35px;
                &:last-child {
                    margin-right: 0;
                    button {
                        @include button-primary($width:168px)
                    }
                }
            }
        }
    }

    .header-content {
        width: 800px;
        height: 440px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-top: 180px;
        // background-color: rgba($color: #000000, $alpha: 0.1);
        .text-1 {
            width: fit-content;
            text-align: center;
            color: #fff;
            font-family: $popins;
            text-transform: capitalize;
            padding: 8px;
            border: 1px solid #fff;
            border-radius: 4px;
        }
        .text-2 {
            color: #fff;
            font-family: $popins;
            font-size: 70px;
            font-weight: 650;
            text-align: center;
            margin-top: 10px;
        }
        .text-3 {
            color: #fff;
            margin-top: 40px;
            font-size: 20px;
            line-height: 32px;
            font-family: $chivo;
            text-align: center;
            padding: 15px;
        }
        .header-content-buttons {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            .header-button-1 {
                margin-right: 30px;
                @include button-primary(158px)
            }
            .header-button-2 {
                display: flex;
                gap: 10px;
                align-items: center;
                div {
                    height: 15px;
                    width: 15px;
                    padding: 10px;
                    border: 1px solid #fff;
                    border-radius: 100%;
                }
                div > img {
                    margin-left: 3px;
                }
                p {
                    color: #fff;
                    font-family: $popins;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .headers-footer {
            margin: auto;
            margin-top: 190px;
            display: flex;
            gap: 15px;
            .dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #fff;
            }
            .active {
                background-color: #e97c16 !important;
            }
        }
    }
}

.about {
    margin-top: 150px;
    height: 525px;
    display: flex;
    justify-content: space-between;
    .left {
        height: 100%;
        width: 455px;
        position: relative;
        img:first-child{
            position: relative;
            width: 455px;
            height: 100%;
            object-fit: cover;
        }
        img:last-child{
            height: 290px;
            width: 255px;
            object-fit: cover;
            padding-left: 30px;
            padding-top: 30px;
            border-top-left-radius: 10px;
            background-color: #fff;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
        }
    }
    .right {
        height: 100%;
        width: 625px;
        .text-1 {
            @include title-half(#FC7C2C)
        }
        .text-2 {
            color: #333333;
            font-family: $popins;
            font-size: 40px;
            font-weight: 600;
        }
        .text-3 {
            color: #666666;
            font-family: $chivo;
            font-size: 18px;
            line-height: 30px;
            margin-top: 20px;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            //gap: 75px;
            .col {
                margin-top: 30px;
                margin-right: 70px;
                display: inline-flex;
                .rectangle {
                    border: 8px solid rgba(42, 34, 115, 0.2);
                    border-radius: 5px;
                    span {
                        display: block;
                        height: 45px;
                        width: 45px;
                        background-color: rgba(42, 34, 115, 1);
                    }
                }
                .col-content {
                    margin-left: 15px;
                    .col-text-1 {
                        font-family: $popins;
                        font-size: 18px;
                        font-weight: 600;
                        color: #333333;
                        margin-bottom: 10px;
                    }
                    .col-text-2 {
                        font-family: $chivo;
                        font-size: 16;
                        color: #666666;
                    }
                }
            }
        }
        .button {
            @include button-primary(158px);
            margin-top: 45px;
        }
    }
}

.service {
    margin-top: 150px;
    .title-small {
        @include title-full(#FC7C2C)
    }
    .title-main {
        text-align: center;
        font-family: $popins;
        font-size: 40px;
        font-weight: 600;
        color: #333333;
    }
    .services-list {
        margin-top: 40px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        @mixin card ($r, $g, $b) {
            height: 300px;
            width: 360px;
            background: #fff;
            border-radius: 10px;
            padding: 40px 30px;
            box-sizing: border-box;
            .icon {
                display: inline-flex;
                border: 8px solid rgba($r, $g, $b, 0.2);
                border-radius: 5px;
                img {
                    padding: 10px;
                    background-color: rgb($r, $g, $b);
                }
            }
            .card-title {
                font-family: $popins;
                font-size: 24px;
                font-weight: 600;
                color: #333333;
                margin-top: 30px;
            }
            .card-text {
                font-family: $chivo;
                font-size: 16px;
                color: #666666;
                line-height: 28px;
                margin-top: 20px;
            }
        }
        .card-1 {
            @include card(252, 124, 44)
        }
        .card-2 {
            @include card(253, 71, 125)
        }
        .card-3 {
            @include card(57, 241, 167)
        }
        .card-4 {
            @include card(108, 86, 242)
        }
        .card-5 {
            @include card(46, 129, 199)
        }
        .card-6 {
            @include card(249, 194, 0)
        }
    }
}

.analysis {
    margin-top: 150px;
    height: 525px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
        width: 515px;
        margin-top: 40px;

        .text-1 {
            @include title-half(#FC7C2C)
        }
        .text-2 {
            font-family: $popins;
            font-size: 40px;
            font-weight: 600;
            color: #071735;
        }
        .text-3 {
            font-family: $chivo;
            font-size: 18px;
            color: #5F6B78;
            margin-top: 20px;
            margin-bottom: 35px;
        }
        ul {
            list-style: none;
            li {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 25px;
                .check {
                    height: 30px;
                    width: 30px;
                    background-color: rgba($color: #FC7C2C, $alpha: 0.15);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                p {
                    font-family: $chivo;
                    font-size: 16px;
                    color: #5F6B78;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        button {
            margin-top: 45px;
            @include button-primary(158px)
        }
    }
    .right {
        width: 515px;
        background: linear-gradient(rgba($color: #2A2273, $alpha: 0.40)), url(./assets/analysis/Image129.png) no-repeat top center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .icon {
            border: 10px solid rgba($color: #fff, $alpha: 0.3);
            border-radius: 50%;
            div {
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FC7C2C;
                border-radius: 50%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.project {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-small {
        @include title-full(#FC7C2C)
    }
    .title-main {
        font-family: $popins;
        font-size: 40px;
        font-weight: 600;
        color: #333;
        text-align: center;
    }
    .grid {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        .item {
            height: 350px;
            width: 360px;
            position: relative;
            div {
                width: 310px;
                height: 75px;
                position: absolute;
                margin: 0px 25px;
                padding: 11px 25px;
                bottom: 10px;
                background-color: #fff;
                border-radius: 5px;
                box-sizing: border-box;
                :first-child {
                    font-family: $popins;
                    font-weight: 600;
                    font-size: 22px;
                    color: #333333;
                }
                :last-child {
                    font-family: $chivo;
                    font-size: 16px;
                    color: #333333;
                }
                &::before {
                    content: "";
                    height: 35px;
                    width: 1px;
                    position: absolute;
                    background-color: #333333;
                    top: 18px;
                    left: 15px;
                }
            }
        }
        img {
            height: 350px;
            width: 360px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    button {
        margin-top: 50px;
        @include button-primary(158px);
    }
}

.success {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: #2A2273;
    padding: 80px 0px;
    box-sizing: border-box;
    .title-small {
        @include title-full(#fff)
    }
    .title-main {
        font-family: $popins;
        font-size: 40px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
    .grid {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item {
            display: flex;
            flex-direction: column;
            //justify-content: center;
            align-items: center;
            img {
                height: 35px;
                width: 35px;
            }
            .number {
                font-family: $popins;
                font-size: 30px;
                color: #fff;
                margin-top: 10px;
            }
            .text {
                font-family: $chivo;
                font-size: 16px;
                color: #fff;
                margin-top: 5px;
            }
        }
    }
}

.feedback {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
        width: 510px;
        padding: 25px 0;
        .text-1 {
            @include title-half(#FC7C2C)
        }
        .text-2 {
            font-family: $popins;
            font-size: 40px;
            font-weight: 600;
            color: #333333;
        }
        .text-3 {
            font-family: $chivo;
            font-size: 16px;
            color: #666;
            margin-top: 30px;
        }
        .footer {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                @include button-primary(147px)
            }
            .arrows {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
        }
    }
    .right {
        width: 530px;
        height: 350px;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px 40px 30px;
        box-sizing: border-box;
        .head {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;
            img {
                height: 80px;
                width: 80px;
                object-fit: none;
                object-position: 60% 5%;
                border-radius: 50%;
            }
            p:nth-of-type(1) {
                font-family: $popins;
                font-size: 22px;
                font-weight: 500;
                color: #333;
            }
            p:nth-of-type(2) {
                margin-top: 10px;
                font-family: $chivo;
                font-size: 16px;
                color: #666;
            }
        }
        .content-text {
            margin-top: 25px;
            font-family: $chivo;
            font-size: 20px;
            line-height: 34px;
            color: #666666;
        }
        .footer {
            float: right;
            margin-right: 20px;
        }
    }
}
