@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
  background-color: #F8F9FE;
  padding-bottom: 15rem;
}

.shadow {
  -webkit-box-shadow: 0px 0px 30px #0A053E0F;
          box-shadow: 0px 0px 30px #0A053E0F;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  overflow: auto;
  width: 100%;
  height: 1000px;
  background: -webkit-gradient(linear, left top, right top, from(#2A2273), to(#33333300)), url(./assets/james-mckinven-UjD4BnrA4kw-unsplash.png) no-repeat top center;
  background: linear-gradient(to right, #2A2273, #33333300), url(./assets/james-mckinven-UjD4BnrA4kw-unsplash.png) no-repeat top center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
}

header nav .header-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  color: #fff;
  display: inline-block;
  font-family: "Popins", sans-serif;
  font-weight: medium;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 35px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li:last-child button {
  width: 168px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}

header nav ul li:last-child button:hover {
  cursor: pointer;
  background-color: #e97c16;
}

header nav ul li:last-child button:active {
  background-color: #aa5d15;
}

header .header-content {
  width: 800px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 180px;
}

header .header-content .text-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: #fff;
  font-family: "Popins", sans-serif;
  text-transform: capitalize;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}

header .header-content .text-2 {
  color: #fff;
  font-family: "Popins", sans-serif;
  font-size: 70px;
  font-weight: 650;
  text-align: center;
  margin-top: 10px;
}

header .header-content .text-3 {
  color: #fff;
  margin-top: 40px;
  font-size: 20px;
  line-height: 32px;
  font-family: "Chivo", sans-serif;
  text-align: center;
  padding: 15px;
}

header .header-content .header-content-buttons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header .header-content .header-content-buttons .header-button-1 {
  margin-right: 30px;
  width: 158px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}

header .header-content .header-content-buttons .header-button-1:hover {
  cursor: pointer;
  background-color: #e97c16;
}

header .header-content .header-content-buttons .header-button-1:active {
  background-color: #aa5d15;
}

header .header-content .header-content-buttons .header-button-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .header-content-buttons .header-button-2 div {
  height: 15px;
  width: 15px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
}

header .header-content .header-content-buttons .header-button-2 div > img {
  margin-left: 3px;
}

header .header-content .header-content-buttons .header-button-2 p {
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

header .header-content .header-content-buttons .header-button-2:hover {
  cursor: pointer;
}

header .header-content .headers-footer {
  margin: auto;
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

header .header-content .headers-footer .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
}

header .header-content .headers-footer .active {
  background-color: #e97c16 !important;
}

.about {
  margin-top: 150px;
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .left {
  height: 100%;
  width: 455px;
  position: relative;
}

.about .left img:first-child {
  position: relative;
  width: 455px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .left img:last-child {
  height: 290px;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 30px;
  padding-top: 30px;
  border-top-left-radius: 10px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.about .right {
  height: 100%;
  width: 625px;
}

.about .right .title-small {
  color: #FC7C2C;
  font-family: "Popins", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
}

.about .right .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -35px;
}

.about .right .title-small span {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -45px;
}

.about .right .text-2 {
  color: #333333;
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.about .right .text-3 {
  color: #666666;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}

.about .right .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .right .row .col {
  margin-top: 30px;
  margin-right: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about .right .row .col .rectangle {
  border: 8px solid rgba(42, 34, 115, 0.2);
  border-radius: 5px;
}

.about .right .row .col .rectangle span {
  display: block;
  height: 45px;
  width: 45px;
  background-color: #2a2273;
}

.about .right .row .col .col-content {
  margin-left: 15px;
}

.about .right .row .col .col-content .col-text-1 {
  font-family: "Popins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 10px;
}

.about .right .row .col .col-content .col-text-2 {
  font-family: "Chivo", sans-serif;
  font-size: 16;
  color: #666666;
}

.about .right .button {
  width: 158px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
  margin-top: 45px;
}

.about .right .button:hover {
  cursor: pointer;
  background-color: #e97c16;
}

.about .right .button:active {
  background-color: #aa5d15;
}

.service {
  margin-top: 150px;
}

.service .title-small {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

.service .title-small p {
  font-family: "Popins", sans-serif;
  font-size: 14px;
  color: #FC7C2C;
  text-transform: capitalize;
}

.service .title-small p:before {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -35px;
}

.service .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -35px;
}

.service .title-small span:nth-of-type(1) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -45px;
}

.service .title-small span:nth-of-type(2) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -45px;
}

.service .title-main {
  text-align: center;
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #333333;
}

.service .services-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service .services-list .card-1 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-1 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(252, 124, 44, 0.2);
  border-radius: 5px;
}

.service .services-list .card-1 .icon img {
  padding: 10px;
  background-color: #fc7c2c;
}

.service .services-list .card-1 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-1 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.service .services-list .card-2 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-2 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(253, 71, 125, 0.2);
  border-radius: 5px;
}

.service .services-list .card-2 .icon img {
  padding: 10px;
  background-color: #fd477d;
}

.service .services-list .card-2 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-2 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.service .services-list .card-3 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-3 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(57, 241, 167, 0.2);
  border-radius: 5px;
}

.service .services-list .card-3 .icon img {
  padding: 10px;
  background-color: #39f1a7;
}

.service .services-list .card-3 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-3 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.service .services-list .card-4 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-4 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(108, 86, 242, 0.2);
  border-radius: 5px;
}

.service .services-list .card-4 .icon img {
  padding: 10px;
  background-color: #6c56f2;
}

.service .services-list .card-4 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-4 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.service .services-list .card-5 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-5 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(46, 129, 199, 0.2);
  border-radius: 5px;
}

.service .services-list .card-5 .icon img {
  padding: 10px;
  background-color: #2e81c7;
}

.service .services-list .card-5 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-5 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.service .services-list .card-6 {
  height: 300px;
  width: 360px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service .services-list .card-6 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 8px solid rgba(249, 194, 0, 0.2);
  border-radius: 5px;
}

.service .services-list .card-6 .icon img {
  padding: 10px;
  background-color: #f9c200;
}

.service .services-list .card-6 .card-title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-top: 30px;
}

.service .services-list .card-6 .card-text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
  margin-top: 20px;
}

.analysis {
  margin-top: 150px;
  height: 525px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analysis .left {
  width: 515px;
  margin-top: 40px;
}

.analysis .left .title-small {
  color: #FC7C2C;
  font-family: "Popins", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
}

.analysis .left .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -35px;
}

.analysis .left .title-small span {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -45px;
}

.analysis .left .text-2 {
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #071735;
}

.analysis .left .text-3 {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  color: #5F6B78;
  margin-top: 20px;
  margin-bottom: 35px;
}

.analysis .left ul {
  list-style: none;
}

.analysis .left ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.analysis .left ul li .check {
  height: 30px;
  width: 30px;
  background-color: rgba(252, 124, 44, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.analysis .left ul li p {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #5F6B78;
}

.analysis .left ul li:last-child {
  margin-bottom: 0px;
}

.analysis .left button {
  margin-top: 45px;
  width: 158px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}

.analysis .left button:hover {
  cursor: pointer;
  background-color: #e97c16;
}

.analysis .left button:active {
  background-color: #aa5d15;
}

.analysis .right {
  width: 515px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 34, 115, 0.4))), url(./assets/analysis/Image129.png) no-repeat top center;
  background: linear-gradient(rgba(42, 34, 115, 0.4)), url(./assets/analysis/Image129.png) no-repeat top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.analysis .right .icon {
  border: 10px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.analysis .right .icon div {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FC7C2C;
  border-radius: 50%;
}

.analysis .right .icon:hover {
  cursor: pointer;
}

.project {
  width: 100%;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .title-small {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

.project .title-small p {
  font-family: "Popins", sans-serif;
  font-size: 14px;
  color: #FC7C2C;
  text-transform: capitalize;
}

.project .title-small p:before {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -35px;
}

.project .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -35px;
}

.project .title-small span:nth-of-type(1) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -45px;
}

.project .title-small span:nth-of-type(2) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -45px;
}

.project .title-main {
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.project .grid {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .grid .item {
  height: 350px;
  width: 360px;
  position: relative;
}

.project .grid .item div {
  width: 310px;
  height: 75px;
  position: absolute;
  margin: 0px 25px;
  padding: 11px 25px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project .grid .item div :first-child {
  font-family: "Popins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #333333;
}

.project .grid .item div :last-child {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #333333;
}

.project .grid .item div::before {
  content: "";
  height: 35px;
  width: 1px;
  position: absolute;
  background-color: #333333;
  top: 18px;
  left: 15px;
}

.project .grid img {
  height: 350px;
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.project button {
  margin-top: 50px;
  width: 158px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}

.project button:hover {
  cursor: pointer;
  background-color: #e97c16;
}

.project button:active {
  background-color: #aa5d15;
}

.success {
  margin-top: 50px;
  height: 400px;
  width: 100%;
  background-color: #2A2273;
  padding: 80px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.success .title-small {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

.success .title-small p {
  font-family: "Popins", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
}

.success .title-small p:before {
  content: "";
  height: 1px;
  width: 30px;
  background: #fff;
  position: absolute;
  top: 8px;
  left: -35px;
}

.success .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: -35px;
}

.success .title-small span:nth-of-type(1) {
  width: 6px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 8px;
  left: -45px;
}

.success .title-small span:nth-of-type(2) {
  width: 6px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: -45px;
}

.success .title-main {
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.success .grid {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.success .grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success .grid .item img {
  height: 35px;
  width: 35px;
}

.success .grid .item .number {
  font-family: "Popins", sans-serif;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

.success .grid .item .text {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}

.feedback {
  margin-top: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .left {
  width: 510px;
  padding: 25px 0;
}

.feedback .left .title-small {
  color: #FC7C2C;
  font-family: "Popins", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
}

.feedback .left .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -35px;
}

.feedback .left .title-small span {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 7px;
  right: -45px;
}

.feedback .left .text-2 {
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #333333;
}

.feedback .left .text-3 {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666;
  margin-top: 30px;
}

.feedback .left .footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .left .footer button {
  width: 147px;
  height: 50px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FF8618;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}

.feedback .left .footer button:hover {
  cursor: pointer;
  background-color: #e97c16;
}

.feedback .left .footer button:active {
  background-color: #aa5d15;
}

.feedback .left .footer .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.feedback .right {
  width: 530px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback .right .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.feedback .right .head img {
  height: 80px;
  width: 80px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 60% 5%;
     object-position: 60% 5%;
  border-radius: 50%;
}

.feedback .right .head p:nth-of-type(1) {
  font-family: "Popins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #333;
}

.feedback .right .head p:nth-of-type(2) {
  margin-top: 10px;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666;
}

.feedback .right .content-text {
  margin-top: 25px;
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #666666;
}

.feedback .right .footer {
  float: right;
  margin-right: 20px;
}

.newsletter {
  margin-top: 150px;
  width: 100%;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

.newsletter .left {
  width: 500px;
}

.newsletter .left .title {
  font-family: "Popins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.newsletter .left .text {
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666666;
}

.newsletter .right {
  height: 60px;
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFACCB;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 25px;
  padding-right: 15px;
}

.newsletter .right input {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.newsletter .right input ::-webkit-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-style: 16px;
  color: #666666;
}

.newsletter .right input :-ms-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-style: 16px;
  color: #666666;
}

.newsletter .right input ::-ms-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-style: 16px;
  color: #666666;
}

.newsletter .right input ::placeholder {
  font-family: "Chivo", sans-serif;
  font-style: 16px;
  color: #666666;
}

.newsletter .right div {
  width: 40px;
  height: 40px;
  background-color: #2A2273;
  border-radius: 50%;
}

.newsletter .right div img {
  margin-top: 10px;
  margin-left: 10px;
}

.blog {
  margin-top: 150px;
}

.blog .title-small {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

.blog .title-small p {
  font-family: "Popins", sans-serif;
  font-size: 14px;
  color: #FC7C2C;
  text-transform: capitalize;
}

.blog .title-small p:before {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -35px;
}

.blog .title-small p:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -35px;
}

.blog .title-small span:nth-of-type(1) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  left: -45px;
}

.blog .title-small span:nth-of-type(2) {
  width: 6px;
  height: 1px;
  background: #FC7C2C;
  position: absolute;
  top: 8px;
  right: -45px;
}

.blog .title-large {
  text-align: center;
  font-family: "Popins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #333333;
}

.blog .grid {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .grid .card {
  height: 450px;
  width: 360px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog .grid .card img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15%;
     object-position: 15%;
  border-radius: 10px;
}

.blog .grid .card .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  background-color: #FF8618;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 10px;
  z-index: 1;
  margin-top: -35px;
  margin-left: 25px;
}

.blog .grid .card .date-box .date {
  height: 40px;
  width: 35px;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.blog .grid .card .card-title {
  margin-top: 55px;
  font-family: "Popins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.blog .grid .card .card-text {
  margin-top: 15px;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  color: #666;
}
/*# sourceMappingURL=style.css.map */